/* line 6, ../sass/share.scss */
.uppercase {
  text-transform: uppercase; }

/* line 9, ../sass/share.scss */
a {
  color: #000; }
  /* line 11, ../sass/share.scss */
  a:hover {
    color: #07510a;
    text-decoration: none; }
  /* line 15, ../sass/share.scss */
  a:focus {
    color: #000; }

/* line 52, ../sass/share.scss */
.share-page {
  font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
  position: relative;
  z-index: 0;
  color: #000; }
  /* line 70, ../sass/share.scss */
  .share-page .wrapper {
    background-color: #fff;
    z-index: 1; }
  /* line 75, ../sass/share.scss */
  .share-page header .logo {
    text-align: center;
    margin: 8px 0 30px;
    font-weight: 600; }
    /* line 24, ../sass/share.scss */
    .share-page header .logo .share {
      font-size: 8rem;
      font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
      position: relative;
      line-height: 10rem; }
    /* line 30, ../sass/share.scss */
    .share-page header .logo .by {
      padding-left: 15px;
      font-size: 18px;
      font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
      text-transform: uppercase;
      bottom: -12px;
      position: absolute;
      right: -40px; }
    /* line 39, ../sass/share.scss */
    .share-page header .logo .ah {
      text-transform: uppercase;
      font-size: 2.5rem;
      letter-spacing: 7px; }
    /* line 44, ../sass/share.scss */
    .share-page header .logo .share-logo {
      margin: 50px 0 11px; }
      /* line 46, ../sass/share.scss */
      .share-page header .logo .share-logo img {
        width: 240px; }
  /* line 78, ../sass/share.scss */
  .share-page header .placeholder {
    display: none; }
  /* line 81, ../sass/share.scss */
  .share-page header .menu-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    margin-bottom: 20px; }
    /* line 88, ../sass/share.scss */
    .share-page header .menu-wrapper .container {
      padding: 0 10px; }
    /* line 91, ../sass/share.scss */
    .share-page header .menu-wrapper.fixed {
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      width: 100%;
      z-index: 2;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0); }
      /* line 102, ../sass/share.scss */
      .share-page header .menu-wrapper.fixed .container {
        padding: 0 25px; }
  /* line 107, ../sass/share.scss */
  .share-page header ul.menu {
    list-style: none;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    z-index: 2; }
    @media (min-width: 480px) {
      /* line 107, ../sass/share.scss */
      .share-page header ul.menu {
        text-align: left; } }
    /* line 116, ../sass/share.scss */
    .share-page header ul.menu li {
      display: inline-block;
      list-style: none; }
      /* line 119, ../sass/share.scss */
      .share-page header ul.menu li:after {
        padding: 0 3px;
        content: '/';
        font-weight: 800;
        font-size: 1.7rem; }
      /* line 126, ../sass/share.scss */
      .share-page header ul.menu li:last-child:after {
        display: none; }
      /* line 130, ../sass/share.scss */
      .share-page header ul.menu li a {
        cursor: pointer;
        font-size: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle;
        letter-spacing: 3px; }
      /* line 138, ../sass/share.scss */
      .share-page header ul.menu li span {
        font-size: 11px;
        vertical-align: baseline; }
        /* line 141, ../sass/share.scss */
        .share-page header ul.menu li span:before {
          content: '('; }
        /* line 144, ../sass/share.scss */
        .share-page header ul.menu li span:after {
          content: ')'; }
  /* line 153, ../sass/share.scss */
  .share-page .looks .look {
    margin-bottom: 30px; }
    /* line 155, ../sass/share.scss */
    .share-page .looks .look a {
      display: block;
      padding: 5px;
      position: relative; }
      /* line 160, ../sass/share.scss */
      .share-page .looks .look a:hover .overlay {
        display: block; }
      /* line 164, ../sass/share.scss */
      .share-page .looks .look a .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        text-align: center; }
        /* line 174, ../sass/share.scss */
        .share-page .looks .look a .overlay span {
          color: #fff;
          font-size: 3rem;
          font-family: "EB Garamond", serif;
          text-transform: uppercase;
          line-height: 25rem; }
      /* line 182, ../sass/share.scss */
      .share-page .looks .look a img {
        border: 1px solid #000;
        max-width: 100%; }
  /* line 188, ../sass/share.scss */
  .share-page .looks .more {
    text-align: center;
    margin: 60px 0;
    font-weight: 600; }
    /* line 192, ../sass/share.scss */
    .share-page .looks .more a {
      font-size: 3.2rem;
      text-transform: uppercase;
      text-decoration: underline; }
    /* line 197, ../sass/share.scss */
    .share-page .looks .more span {
      letter-spacing: 4px; }
  /* line 208, ../sass/share.scss */
  .share-page .cbp-item .cbp-item-wrapper {
    position: relative;
    padding-bottom: 7px;
    box-shadow: none;
    border: 1px solid #000; }
    /* line 213, ../sass/share.scss */
    .share-page .cbp-item .cbp-item-wrapper .cbp-caption {
      position: initial; }
      /* line 215, ../sass/share.scss */
      .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover {
        border-color: transparent; }
        /* line 217, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover .cbp-caption-activeWrap {
          top: -5px;
          left: -5px;
          width: 105%;
          height: 105%;
          background-color: rgba(0, 0, 0, 0.3); }
        /* line 224, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover .cbp-caption-defaultWrap {
          opacity: 1; }
      /* line 228, ../sass/share.scss */
      .share-page .cbp-item .cbp-item-wrapper .cbp-caption .cbp-caption-activeWrap {
        top: 100%;
        left: 0; }
        /* line 231, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption .cbp-caption-activeWrap span {
          position: absolute;
          top: 50%;
          text-align: center;
          width: 100%;
          color: #fff;
          font-size: 4.8rem;
          margin-top: -3.6rem;
          font-weight: 600;
          font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
          text-transform: uppercase;
          letter-spacing: 5px; }
  /* line 250, ../sass/share.scss */
  .share-page .cbp-l-loadMore-button .cbp-l-loadMore-link,
  .share-page .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    border: none;
    color: #000;
    margin-top: 0;
    font-weight: 800; }
  /* line 259, ../sass/share.scss */
  .share-page .footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    font-size: 1.7rem;
    font-weight: 600; }
    /* line 264, ../sass/share.scss */
    .share-page .footer a {
      text-transform: uppercase;
      letter-spacing: 2px; }
      /* line 268, ../sass/share.scss */
      .share-page .footer a:last-child:after {
        display: none; }
      /* line 272, ../sass/share.scss */
      .share-page .footer a:after {
        padding: 0 10px;
        content: '/'; }
    /* line 277, ../sass/share.scss */
    .share-page .footer .copyright {
      text-align: center;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        /* line 277, ../sass/share.scss */
        .share-page .footer .copyright {
          text-align: left;
          margin-bottom: 0; } }
      /* line 284, ../sass/share.scss */
      .share-page .footer .copyright span {
        letter-spacing: 2px; }
    /* line 288, ../sass/share.scss */
    .share-page .footer .social-links {
      text-align: center; }
      @media (min-width: 768px) {
        /* line 288, ../sass/share.scss */
        .share-page .footer .social-links {
          text-align: right; } }
    /* line 294, ../sass/share.scss */
    .share-page .footer a {
      color: #000; }
      /* line 296, ../sass/share.scss */
      .share-page .footer a:hover, .share-page .footer a:focus, .share-page .footer a:active {
        color: #000;
        text-decoration: none; }
  /* line 303, ../sass/share.scss */
  .share-page footer {
    z-index: -2;
    position: relative;
    height: 435px; }
    /* line 308, ../sass/share.scss */
    .share-page footer .wrapper {
      z-index: -1;
      background: url("../img/footer_bg2.jpg") 50% 0 #ebf2f8;
      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      height: 435px;
      width: 100%;
      bottom: 0; }
      /* line 317, ../sass/share.scss */
      .share-page footer .wrapper .brand {
        font-size: 7.5rem;
        line-height: 7.5rem;
        color: #fff;
        font-weight: 600;
        font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
        letter-spacing: 2rem;
        margin-top: 205px;
        display: block; }
      /* line 327, ../sass/share.scss */
      .share-page footer .wrapper .email {
        display: block;
        color: #fff;
        font-size: 3rem; }

/* line 340, ../sass/share.scss */
.cbp-popup-wrap {
  font-family: "Apercu Bold", Calibri, Roboto, sans-serif; }
  /* line 343, ../sass/share.scss */
  .cbp-popup-wrap .main-image img {
    max-width: 100%; }
  /* line 348, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-content {
    margin-top: initial;
    width: 70%; }
  /* line 352, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    position: initial;
    z-index: 0;
    height: initial;
    background-color: transparent; }
  /* line 358, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation {
    position: inherit; }
    /* line 360, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-close {
      top: 188px;
      right: 10%;
      left: inherit;
      bottom: inherit;
      background-position: -93px -183px;
      z-index: 1; }
    /* line 368, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-next {
      left: inherit;
      right: 5%;
      z-index: 1;
      background: url("../img/cbp-sprite.png") no-repeat scroll -46px -92px #cccccc; }
    /* line 383, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-prev {
      background: url("../img/cbp-sprite.png") no-repeat scroll 0 -92px #cccccc;
      left: 5%;
      right: initial;
      z-index: 1; }
  /* line 399, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text {
    color: #000; }
    /* line 401, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text h1 {
      font-weight: 600;
      margin-top: 0; }
    /* line 405, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text p {
      font-size: 18px;
      font-weight: 600; }
    /* line 409, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text a {
      text-decoration: underline;
      color: #000; }
      /* line 412, ../sass/share.scss */
      .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text a:hover {
        color: #000; }
  /* line 418, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .social a {
    color: #000; }
    /* line 420, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .social a:hover {
      color: #000; }
  /* line 425, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .social {
    position: absolute;
    bottom: 0;
    right: 0; }
    /* line 429, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .social .icons {
      margin-bottom: 20px; }
      /* line 431, ../sass/share.scss */
      .cbp-popup-wrap.cbp-popup-singlePage .social .icons a {
        display: inline-block;
        margin-right: 10px; }
        /* line 434, ../sass/share.scss */
        .cbp-popup-wrap.cbp-popup-singlePage .social .icons a i {
          font-size: 30px; }
    /* line 439, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .social .homelink {
      display: inline-block;
      color: #07510a;
      font-weight: 600;
      font-size: 14px; }
      /* line 444, ../sass/share.scss */
      .cbp-popup-wrap.cbp-popup-singlePage .social .homelink:hover {
        color: #07510a; }
  /* line 450, ../sass/share.scss */
  .cbp-popup-wrap .logo {
    text-align: center;
    margin: 8px 0 30px;
    font-weight: 600; }
    /* line 24, ../sass/share.scss */
    .cbp-popup-wrap .logo .share {
      font-size: 8rem;
      font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
      position: relative;
      line-height: 10rem; }
    /* line 30, ../sass/share.scss */
    .cbp-popup-wrap .logo .by {
      padding-left: 15px;
      font-size: 18px;
      font-family: "Apercu Bold", Calibri, Roboto, sans-serif;
      text-transform: uppercase;
      bottom: -12px;
      position: absolute;
      right: -40px; }
    /* line 39, ../sass/share.scss */
    .cbp-popup-wrap .logo .ah {
      text-transform: uppercase;
      font-size: 2.5rem;
      letter-spacing: 7px; }
    /* line 44, ../sass/share.scss */
    .cbp-popup-wrap .logo .share-logo {
      margin: 50px 0 11px; }
      /* line 46, ../sass/share.scss */
      .cbp-popup-wrap .logo .share-logo img {
        width: 240px; }

/* line 455, ../sass/share.scss */
.cbp:after, .cbp-lazyload:after, .cbp-popup-loadingBox:after, .cbp-popup-singlePageInline:after {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: cbp-rotation .8s infinite linear;
  animation: cbp-rotation .8s infinite linear;
  border-left: 3px solid rgba(114, 144, 182, 0.15);
  border-right: 3px solid rgba(114, 144, 182, 0.15);
  border-bottom: 3px solid rgba(114, 144, 182, 0.15);
  border-top: 3px solid rgba(0, 0, 0, 0.8);
  border-radius: 100%; }

/*# sourceMappingURL=share.css.map */
