/* line 5, ../sass/share.scss */
.uppercase {
  text-transform: uppercase; }

/* line 8, ../sass/share.scss */
a {
  color: #000; }
  /* line 10, ../sass/share.scss */
  a:hover {
    color: #07510a;
    text-decoration: none; }

/* line 17, ../sass/share.scss */
.share-page {
  position: relative;
  z-index: 0; }
  /* line 20, ../sass/share.scss */
  .share-page .wrapper {
    background-color: #fff;
    z-index: 1; }
  /* line 25, ../sass/share.scss */
  .share-page header .logo {
    text-align: center;
    margin: 15px 0 30px;
    font-weight: 600; }
    /* line 29, ../sass/share.scss */
    .share-page header .logo .share {
      font-size: 8rem;
      font-family: "EB Garamond", serif; }
    /* line 33, ../sass/share.scss */
    .share-page header .logo .by {
      padding-left: 15px;
      font-size: 12px;
      text-transform: uppercase; }
    /* line 38, ../sass/share.scss */
    .share-page header .logo .ah {
      text-transform: uppercase;
      font-size: 2.2rem;
      letter-spacing: 4px; }
  /* line 44, ../sass/share.scss */
  .share-page header ul.menu {
    list-style: none;
    padding: 0;
    margin: 30px 0; }
    /* line 48, ../sass/share.scss */
    .share-page header ul.menu li {
      display: inline-block;
      list-style: none; }
      /* line 51, ../sass/share.scss */
      .share-page header ul.menu li:after {
        padding: 0 10px;
        content: '/';
        font-weight: 800;
        font-size: 1.7rem; }
      /* line 58, ../sass/share.scss */
      .share-page header ul.menu li:last-child:after {
        display: none; }
      /* line 62, ../sass/share.scss */
      .share-page header ul.menu li a {
        cursor: pointer;
        font-size: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle; }
      /* line 69, ../sass/share.scss */
      .share-page header ul.menu li span {
        font-size: 11px;
        vertical-align: baseline; }
        /* line 72, ../sass/share.scss */
        .share-page header ul.menu li span:before {
          content: '('; }
        /* line 75, ../sass/share.scss */
        .share-page header ul.menu li span:after {
          content: ')'; }
  /* line 84, ../sass/share.scss */
  .share-page .looks .look {
    margin-bottom: 30px; }
    /* line 86, ../sass/share.scss */
    .share-page .looks .look a {
      display: block;
      padding: 5px;
      position: relative; }
      /* line 91, ../sass/share.scss */
      .share-page .looks .look a:hover .overlay {
        display: block; }
      /* line 95, ../sass/share.scss */
      .share-page .looks .look a .overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        text-align: center; }
        /* line 105, ../sass/share.scss */
        .share-page .looks .look a .overlay span {
          color: #fff;
          font-size: 3rem;
          font-family: "EB Garamond", serif;
          text-transform: uppercase;
          line-height: 25rem; }
      /* line 113, ../sass/share.scss */
      .share-page .looks .look a img {
        border: 1px solid #000;
        max-width: 100%; }
  /* line 119, ../sass/share.scss */
  .share-page .looks .more {
    text-align: center;
    margin: 40px 0 70px 0;
    font-weight: 600; }
    /* line 123, ../sass/share.scss */
    .share-page .looks .more a {
      font-size: 3.5rem;
      text-transform: uppercase;
      text-decoration: underline; }
  /* line 136, ../sass/share.scss */
  .share-page .cbp-item .cbp-item-wrapper {
    position: relative;
    padding-bottom: 7px;
    box-shadow: none;
    border: 1px solid #000; }
    /* line 141, ../sass/share.scss */
    .share-page .cbp-item .cbp-item-wrapper .cbp-caption {
      position: initial; }
      /* line 143, ../sass/share.scss */
      .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover {
        border-color: transparent; }
        /* line 145, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover .cbp-caption-activeWrap {
          top: -5px;
          left: -5px;
          width: 105%;
          height: 105%;
          background-color: rgba(0, 0, 0, 0.3); }
        /* line 152, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption:hover .cbp-caption-defaultWrap {
          opacity: 1; }
      /* line 156, ../sass/share.scss */
      .share-page .cbp-item .cbp-item-wrapper .cbp-caption .cbp-caption-activeWrap {
        top: 100%;
        left: 0; }
        /* line 159, ../sass/share.scss */
        .share-page .cbp-item .cbp-item-wrapper .cbp-caption .cbp-caption-activeWrap span {
          position: absolute;
          top: 50%;
          text-align: center;
          width: 100%;
          color: #fff;
          font-size: 3rem;
          margin-top: -1.5rem;
          font-family: "EB Garamond", serif;
          text-transform: uppercase; }
  /* line 175, ../sass/share.scss */
  .share-page .cbp-l-loadMore-button .cbp-l-loadMore-link,
  .share-page .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    border: none;
    color: #000; }
  /* line 182, ../sass/share.scss */
  .share-page .footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    font-size: 1.7rem;
    font-weight: 600; }
    /* line 187, ../sass/share.scss */
    .share-page .footer a {
      text-transform: uppercase; }
      /* line 190, ../sass/share.scss */
      .share-page .footer a:last-child:after {
        content: ''; }
      /* line 194, ../sass/share.scss */
      .share-page .footer a:after {
        padding: 0 10px;
        content: '/'; }
  /* line 201, ../sass/share.scss */
  .share-page footer {
    z-index: -2;
    position: relative;
    height: 500px; }
    /* line 205, ../sass/share.scss */
    .share-page footer .wrapper {
      z-index: -1;
      background: url("../img/footer-bg.jpg") 50% 0;
      position: fixed;
      height: 500px;
      width: 100%;
      bottom: 0; }
      /* line 212, ../sass/share.scss */
      .share-page footer .wrapper .brand {
        font-size: 8rem;
        color: #fff;
        font-weight: 600;
        font-family: "Apercu Light", Calibri, Roboto, sans-serif;
        letter-spacing: 2rem;
        margin-top: 200px;
        display: block; }
      /* line 221, ../sass/share.scss */
      .share-page footer .wrapper .email {
        display: block;
        color: #fff;
        font-size: 3rem; }

/* line 236, ../sass/share.scss */
.cbp-popup-wrap .main-image img {
  max-width: 100%; }
/* line 241, ../sass/share.scss */
.cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-content {
  margin-top: initial; }
/* line 244, ../sass/share.scss */
.cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation-wrap {
  position: initial;
  z-index: 0;
  height: initial;
  background-color: transparent; }
/* line 250, ../sass/share.scss */
.cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation {
  position: inherit; }
  /* line 252, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-close {
    top: 150px;
    right: 10%;
    left: inherit;
    bottom: inherit;
    background-position: -93px -183px; }
  /* line 259, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-next {
    left: inherit;
    right: 10%;
    background: none;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    color: #666; }
    /* line 268, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-next:before {
      content: "\f061"; }
  /* line 272, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-prev {
    left: 10%;
    right: initial;
    background: none;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
    color: #666; }
    /* line 281, ../sass/share.scss */
    .cbp-popup-wrap.cbp-popup-singlePage .cbp-popup-navigation .cbp-popup-prev:before {
      content: "\f060"; }
/* line 286, ../sass/share.scss */
.cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text {
  color: #000; }
  /* line 288, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text h1 {
    font-weight: 600; }
  /* line 291, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text p {
    font-size: 18px;
    font-weight: 600; }
  /* line 295, ../sass/share.scss */
  .cbp-popup-wrap.cbp-popup-singlePage .cbp-l-project-desc-text a {
    text-decoration: underline; }
/* line 300, ../sass/share.scss */
.cbp-popup-wrap .logo {
  text-align: center;
  margin: 15px 0 30px;
  font-weight: 600; }
  /* line 304, ../sass/share.scss */
  .cbp-popup-wrap .logo .share {
    font-size: 8rem;
    font-family: "EB Garamond", serif; }
  /* line 308, ../sass/share.scss */
  .cbp-popup-wrap .logo .by {
    padding-left: 15px;
    font-size: 12px;
    text-transform: uppercase; }
  /* line 313, ../sass/share.scss */
  .cbp-popup-wrap .logo .ah {
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 4px; }

/*# sourceMappingURL=share.css.map */
