
$opensans: "Apercu Bold", Calibri, Roboto, sans-serif; // 'Open Sans', sans-serif;
$apercuLight: "Apercu Light", Calibri, Roboto, sans-serif;
$garamond: 'EB Garamond', serif;
$font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
$apercu: "Apercu Bold", Calibri, Roboto, sans-serif; // 'Open Sans', sans-serif;
$black: #1b0502; //#191212;
$text-size: 1.6rem;

$screen-xs: 480px;