
@import "mixin";
@import "breakpoint";
@import "variables";


@include keyframes(arrow1)
{
  0%{
    bottom: 0;
    opacity: 0;
  }
  10%{
    bottom: 0;
    opacity: 0;
  }
  90%{
    bottom: 0;
    opacity: 0;
  }
  100%{
    bottom: 35%;
    opacity: 1;
  }
}

@include keyframes(arrow2)
{
  0%{
    bottom: 35%;
    opacity: 1;
  }
  10%{
    bottom: 35%;
    opacity: 1;
  }
  90%{
    bottom: 35%;
    opacity: 1;
  }
  100%{
    bottom: 100%;
    opacity: 0;
  }
}

@include keyframes(rotate)
{
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@include keyframes(blur)
{
  0% { -webkit-filter: blur(0px);}
  50% { -webkit-filter: blur(2px);}
  100% { -webkit-filter: blur(5px);}
}

.arrow-hint {
  bottom: 0;
  height: 88px;
  left: 50%;
  margin-left: -12px;
  overflow: hidden;
  position: absolute;
  width: 24px;
  .wrap {
    position: relative;
    height: 100%;
  }
}
.scroll {
  cursor: pointer;
}
.arrow-1 {
  bottom: 13px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
}
.arrow-2 {
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0;
}
.icon-arrow {
  background-position: 0 -8px;
  height: 16px;
  width: 24px;
  position: absolute;
  i {
    font-size: 3.5rem;
    line-height: 0;
    color: #fff;
  }
}

html {
//  font-size: 13px;
}
.uppercase {
  text-transform: uppercase;
}
a {
  color: #000;
  &:hover {
    color: #07510a;
    text-decoration: none;
  }
  &:focus {
    color: #000;
  }
}

@mixin logo {
  text-align: center;
  margin: 8px 0 30px;
  font-weight: 600;
  .share {
    font-size: 8rem;
    font-family: $apercu;
    position: relative;
    line-height: 10rem;
  }
  .by {
    padding-left: 15px;
    font-size: 18px;
    font-family: $apercu;
    text-transform: uppercase;
    bottom: -12px;
    position: absolute;
    right: -40px;
  }
  .ah {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 7px;
  }
  .share-logo {
    margin: 50px 0 11px;
    img {
      width: 240px;
    }
  }
}

.share-page {
  font-family: $apercu;
  min-width: 320px;
  &:before {
//    content: '';
//    background-image: url('../img/share_harvest.jpg');
//    background-size: contain;
//    width: 1400px;
//    height: 1770px;
//    opacity: 0.1;
//    position: absolute;
//    background-position: -3px 0;
//    left: 50%;
//    margin-left: -700px;
//    z-index: -1;
  }
  position: relative;
  z-index: 0;
  color: #000;
  .wrapper {
    background-color: #fff;
    z-index: 1;
  }
  header {
    .logo {
      @include logo;
    }
    .placeholder {
      display: none;
    }
    .menu-wrapper {
//      height: 70px;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      margin-bottom: 20px;
      .container {
        padding: 0 10px
      }
      &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(#fff,0.9);
        width: 100%;
        z-index: 2;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        .container {
          padding: 0 25px;
        }
      }
    }
    ul.menu {
      list-style: none;
      margin: 0;
      padding: 12px 0;
      text-align: center;
      z-index: 2;
      @include breakpoint($screen-xs) {
        text-align: left;
      }
      li {
        display: inline-block;
        list-style: none;
        &:after {
          padding: 0 3px;
          content: '/';
          font-weight: 800;
          font-size: 1.7rem;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        a {
          cursor: pointer;
          font-size: 1.7rem;
          font-weight: 600;
          text-transform: uppercase;
          vertical-align: middle;
          letter-spacing: 2px;
        }
        span {
          font-size: 11px;
          vertical-align: baseline;
          &:before {
            content: '(';
          }
          &:after {
            content: ')';
          }
        }
      }
    }
  }

  .cbp-filter-item {
    &.cbp-filter-item-active {
      a {
        color: #07510a;
      }
      &.inactive {
        a {
          color: #000;
          &:hover {
            color: #07510a;
          }
        }
      }
    }

  }

  .looks {
    .look {
      margin-bottom: 30px;
      a {
        display: block;
        padding: 5px;
        position: relative;
        &:hover {
          .overlay {
            display: block;
          }
        }
        .overlay {
          display: none;
          background-color: rgba(#000,0.3);
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          span {
            color: #fff;
            font-size: 3rem;
            font-family: $apercu;
            text-transform: uppercase;
            line-height: 25rem;
          }
        }
        img {
          border: 1px solid #000;
          max-width: 100%;
        }
      }
    }
    .more {
      text-align: center;
      margin: 60px 0;
      font-weight: 600;
      a {
        font-size: 3rem;
        text-transform: uppercase;
        text-decoration: underline;
      }
      span {
       letter-spacing: 3px;
      }
    }
    .cbp-l-loadMore-button .cbp-l-loadMore-link,
    .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
      border: none;
      color: #000;
      margin-top: 0;
      font-weight: 800;
      font-family: $apercu;
    }
  }
//  #share .mix{
//    display: none;
//  }


  .cbp-item {
    .cbp-item-wrapper {
      position: relative;
      padding: 0;
      box-shadow: none;
      border: 1px solid #000;
      .cbp-caption {
        position: initial;
        &:hover  {
          border-color: transparent;
          .cbp-caption-defaultWrap {
            opacity: 1;
          }
          @include breakpoint($screen-sm) {
            .cbp-caption-activeWrap {
              top: -5px;
              left: -5px;
              width: 105%;
              height: 105%;
              background-color: rgba(#000,0.3);
            }
          }
        }
        .cbp-caption-activeWrap {
          top: 100%;
          left: 0;
          span {
            $fs: 4.8rem;
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            color: #fff;
            font-size: $fs;
            margin-top: -($fs/2 + $fs/4);
            font-weight: 600;
            font-family: $apercu;
            text-transform: uppercase;
            letter-spacing: 3px;
          }
        }
      }
    }
  }

  .footer {
    padding: 12px 0 14px;
    border-top: 1px solid #ccc;
    font-weight: 600;
    @include breakpoint($screen-sm) {
      padding: 20px 0;
    }
    a {
      text-transform: uppercase;
      letter-spacing: 2px;
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        padding: 0 10px;
        content: '/';
      }
    }
    .copyright {
      @include breakpoint($screen-sm) {
        text-align: left;
        margin-bottom: 0;
      }
      span {
        font-size: 1rem;
        letter-spacing: 2px;
        @include breakpoint($screen-xs) {
          font-size: 1.5rem;
        }
      }
    }
    .social-links {
      font-size: 1.5rem;
      text-align: center;
      @include breakpoint($screen-sm) {
        text-align: right;
      }
    }
    a {
      color: #000;
      &:hover, &:focus, &:active {
        color: #000;
        text-decoration: none;
      }
    }
  }

  footer {
    $height: 435px;
    z-index: -2;
    position: relative;
    height: $height;
    .container {
      margin-top: 75px;
    }
    .wrapper {
      z-index: -1;
      background: url("../img/footer_bg2.jpg") 50% 0 #ebf2f8;
      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      width: 100%;
      bottom: 0;
      .brand {
        font-size: 7.5rem;
        line-height: 7.5rem;
        color: #fff;
        font-weight: 600;
        font-family: $apercu;
        letter-spacing: 2rem;
        margin-top: 205px;
        display: block;
      }
      height: $height;
      .container {
        margin-top: 190px;
      }
      .moto {
        font-size: 3rem;
        color: #fff;
        padding: 0 40px;
        line-height: 32px;
        margin-bottom: 2rem;
      }
      .email {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.8rem;
      }
      .phone {
        font-size: 1.5rem;
        color: #fff;
        line-height: 18px;
      }

//      .moto {
//        font-size: 2.5rem;
//        color: #fff;
//        line-height: 2rem;
//        margin-bottom: 1rem;
//      }
//      .email {
//        text-transform: uppercase;
//        color: #fff;
//        font-size: 1.1rem;
//      }
//      .phone {
//        font-size: 1.1rem;
//        color: #fff;
//        line-height: 18px;
//      }
    }
//    @include breakpoint($screen-xs) {
//      $height: 320px;
//      height: $height;
//      .container {
//        margin-top: 140px;
//      }
//      .wrapper {
//        height: $height;
//        .moto {
//          font-size: 3rem;
//          color: #fff;
//          margin-bottom: 1.5rem;
//        }
//        .email {
//          text-transform: uppercase;
//          color: #fff;
//          font-size: 1.5rem;
//        }
//        .phone {
//          font-size: 1.5rem;
//          color: #fff;
//          line-height: 18px;
//        }
//      }
//    }
    @include breakpoint($screen-sm) {
      .container {
        margin-top: 190px;
      }
      .wrapper {
        .moto {
          font-size: 3.5rem;
          color: #fff;
          margin-bottom: 2rem;
        }
        .email {
          text-transform: uppercase;
          color: #fff;
          font-size: 1.8rem;
        }
        .phone {
          font-size: 2rem;
          color: #fff;
          line-height: 18px;
        }
      }
    }
  }

}

i.close {
  color: #000;
  opacity: 1;
  cursor: pointer;
  z-index: 0;
  width: 44px;
  height: 44px;
  display: block;
  &:hover, &:focus {
    opacity: 1;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #000;
    border-radius: 10px;
    opacity: 1;
    top: 21px;
    left: 11px;
  }
  span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  span:nth-child(2) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  &:hover {

    span {
      color: #000;
      -webkit-transition: .1s ease-in-out;
      -moz-transition: .1s ease-in-out;
      -o-transition: .1s ease-in-out;
      transition: .1s ease-in-out;
    }
    span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
      transform: rotate(-225deg);
    }
  }
}

.cbp-popup-wrap {
  font-family: $apercu;
  min-width: 320px;
  .main-image {
    img{
      max-width: 100%;
    }
  }
  &.cbp-popup-singlePage {
    .cbp-popup-content {
      font-family: $apercu;
      margin-top: 0;
      width: 100%;
      @include breakpoint($screen-xs) {
        width: 75%;
        margin-top: 30px;
      }
      @include breakpoint($screen-sm) {
        margin-top: initial;
      }

    }
    .cbp-popup-navigation-wrap {
      position: initial;
      z-index: 0;
      height: initial;
      background-color: transparent;
    }
    .cbp-popup-navigation {
      position: inherit;
      .cbp-popup-close {
//        &:before {
//          content: '\00d7';
//          vertical-align: top;
//          line-height: 21px;
//        }
        font-size: 45px;
        background: none;
        top: 0;
        right: 0;
        left: inherit;
        bottom: inherit;
        background-position: -93px -183px;
        z-index: 1;
        @include breakpoint($screen-xs) {
          right: 5%;
          top: 22px;
        }
        @include breakpoint($screen-sm) {
          top: 157px;
          right: 5%;
        }
      }
      .cbp-popup-next {
        @include breakpoint($screen-xs) {
          right: 5%
        }
//        &:hover {
//          &:before {
//            transition: all 300ms;
//            @include breakpoint($screen-xs) {
//              transform: translate(5px,0);
//            }
//          }
//        }
        &:before {
          transition: all 300ms;
          content: "\f105";
          display: block;
        }
        left: inherit;
        right: 0;
        z-index: 1;
//        background: url("../img/cbp-sprite.png") no-repeat scroll -46px -92px rgba(#ccc, 1);
        background: none;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 40px;
        color: #000;
      }
      .cbp-popup-prev {
        @include breakpoint($screen-xs) {
          left: 5%;
        }
//        &:hover {
//          &:before {
//            transition: all 300ms;
//            @include breakpoint($screen-xs) {
//              transform: translate(-5px,0);
//            }
//          }
//        }
        &:before {
          transition: all 300ms;
          content: "\f105";
          display: block;
        }
//        background: url("../img/cbp-sprite.png") no-repeat scroll 0 -92px rgba(#ccc, 1);
        left: 0;
        right: initial;
        z-index: 1;
        background: none;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 40px;
        color: #000;
        &:before {
          content: "\f104";
        }
      }
    }
    .cbp-l-project-desc-text {
      font-family: $apercu;
      color: #000;
      width: 75%;
      margin: 20px auto 0;
      @include breakpoint($screen-xs) {
        width: 100%;;
      }
      @include breakpoint($screen-sm) {
        margin-top: 0;
      }
      h1 {
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: $apercu;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 20px;
        @include breakpoint($screen-xs) {
          font-size: 3.4rem;
        }
      }
      p {
        font-size: 1.9rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        @include breakpoint($screen-xs) {
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }
      }
      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }

    .social {
      width: 75%;
      margin: 50px auto 20px;
      @include breakpoint($screen-xs) {
        width: 100%;;
      }
      a {
        color: #000;
        &:hover {
          color: #000;
        }
      }
      .icons {
        margin-bottom: 3rem;
        padding: 0 1rem;
        a {
          display: inline-block;
          margin-right: 3%;
          i {
            font-size: 2rem;
            margin-right: 1rem;
          }
        }
      }
      .homelink {
        display: inline-block;
        color: #07510a;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 15px;
        max-width: 250px;
        &:hover {
          color: #07510a;
        }
      }
    }
  }
  .logo {
    @include logo;
  }
}

.cbp:after, .cbp-lazyload:after, .cbp-popup-loadingBox:after, .cbp-popup-singlePageInline:after {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: cbp-rotation .8s infinite linear;
  animation: cbp-rotation .8s infinite linear;
  border-left: 3px solid rgba(114, 144, 182, 0.15);
  border-right: 3px solid rgba(114, 144, 182, 0.15);
  border-bottom: 3px solid rgba(114, 144, 182, 0.15);
  border-top: 3px solid rgba(#000000, 0.8);
  border-radius: 100%;
}