
@import "breakpoint";
@import "variables";


.uppercase {
  text-transform: uppercase;
}
a {
  color: #000;
  &:hover {
    color: #07510a;
    text-decoration: none;
  }
  &:focus {
    color: #000;
  }
}

@mixin logo {
  text-align: center;
  margin: 8px 0 40px;
  font-weight: 600;
  .share {
    font-size: 8rem;
    font-family: $garamond;
    position: relative;
    line-height: 10rem;
  }
  .by {
    padding-left: 15px;
    font-size: 18px;
    font-family: $apercuLight;
    text-transform: uppercase;
    bottom: -12px;
    position: absolute;
    right: -40px;
  }
  .ah {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 7px;
  }
  .share-logo {
    margin: 50px 0 15px;
    img {
      width: 240px;
    }
  }
}

.share-page {
  font-family: $apercu;
  &:before {
//    content: '';
//    background-image: url('../img/share_harvest.jpg');
//    background-size: contain;
//    width: 1400px;
//    height: 1770px;
//    opacity: 0.1;
//    position: absolute;
//    background-position: -3px 0;
//    left: 50%;
//    margin-left: -700px;
//    z-index: -1;
  }
  position: relative;
  z-index: 0;
  color: #000;
  .wrapper {
    background-color: #fff;
    z-index: 1;
  }
  header {
    .logo {
      @include logo;
    }
    .menu-wrapper {
      height: 70px;
    }
    ul.menu {
      list-style: none;
      margin: 0;
      padding: 12px 0;
      text-align: center;
      @include breakpoint($screen-xs) {
        text-align: left;
      }
      &.fixed {
        position: fixed;
        top: 0;
        background: rgba(#fff,0.9);
        width: 95%;
        z-index: 2;
        transition: all 0.5s;
      }
      li {
        display: inline-block;
        list-style: none;
        &:after {
          padding: 0 3px;
          content: '/';
          font-weight: 800;
          font-size: 1.7rem;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        a {
          cursor: pointer;
          font-size: 1.7rem;
          font-weight: 600;
          text-transform: uppercase;
          vertical-align: middle;
          letter-spacing: 3px;
        }
        span {
          font-size: 11px;
          vertical-align: baseline;
          &:before {
            content: '(';
          }
          &:after {
            content: ')';
          }
        }
      }
    }
  }

  .looks {
    .look {
      margin-bottom: 30px;
      a {
        display: block;
        padding: 5px;
        position: relative;
        &:hover {
          .overlay {
            display: block;
          }
        }
        .overlay {
          display: none;
          background-color: rgba(#000,0.3);
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          span {
            color: #fff;
            font-size: 3rem;
            font-family: $garamond;
            text-transform: uppercase;
            line-height: 25rem;
          }
        }
        img {
          border: 1px solid #000;
          max-width: 100%;
        }
      }
    }
    .more {
      text-align: center;
      margin: 60px 0;
      font-weight: 600;
      a {
        font-size: 3.2rem;
        text-transform: uppercase;
        text-decoration: underline;
      }
      span {
       letter-spacing: 4px;
      }
    }
  }
//  #share .mix{
//    display: none;
//  }


  .cbp-item {
    .cbp-item-wrapper {
      position: relative;
      padding-bottom: 7px;
      box-shadow: none;
      border: 1px solid #000;
      .cbp-caption {
        position: initial;
        &:hover,  {
          border-color: transparent;
          .cbp-caption-activeWrap {
            top: -5px;
            left: -5px;
            width: 105%;
            height: 105%;
            background-color: rgba(#000,0.3);
          }
          .cbp-caption-defaultWrap {
            opacity: 1;
          }
        }
        .cbp-caption-activeWrap {
          top: 100%;
          left: 0;
          span {
            $fs: 4.5rem;
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            color: #fff;
            font-size: $fs;
            margin-top: -($fs/2 + $fs/4);
            font-weight: 600;
            font-family: $font-helvetica;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .cbp-l-loadMore-button .cbp-l-loadMore-link,
  .cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    border: none;
    color: #000;
    margin-top: 0;
    font-weight: 800;
  }


  .footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    font-size: 1.7rem;
    font-weight: 600;
    a {
      text-transform: uppercase;
      letter-spacing: 2px;
      &:last-child {
        &:after {
          content: '';
        }
      }
      &:after {
        padding: 0 10px;
        content: '/';
      }
    }
    .copyright {
      span {
        letter-spacing: 2px;
      }
    }
    a {
      color: #000;
      &:hover, &:focus, &:active {
        color: #000;
        text-decoration: none;
      }
    }
  }

  footer {
    $height: 435px;
    z-index: -2;
    position: relative;
    height: $height;
    .wrapper {
      z-index: -1;
      background: url("../img/footer_bg2.jpg") 50% 0 #ebf2f8;
      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      height: $height;
      width: 100%;
      bottom: 0;
      .brand {
        font-size: 7.5rem;
        line-height: 7.5rem;
        color: #fff;
        font-weight: 600;
        font-family: $apercu;
        letter-spacing: 2rem;
        margin-top: 205px;
        display: block;
      }
      .email {
        display: block;
        color: #fff;
        font-size: 3rem;
      }
    }

  }



}

.cbp-popup-wrap {
  .main-image {
    img{
      max-width: 100%;
    }
  }
  &.cbp-popup-singlePage {
    .cbp-popup-content {
      margin-top: initial;
    }
    .cbp-popup-navigation-wrap {
      position: initial;
      z-index: 0;
      height: initial;
      background-color: transparent;
    }
    .cbp-popup-navigation {
      position: inherit;
      .cbp-popup-close {
        top: 188px;
        right: 10%;
        left: inherit;
        bottom: inherit;
        background-position: -93px -183px;
        z-index: 1;
      }
      .cbp-popup-next {
        left: inherit;
        right: 10%;
        background: none;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 36px;
        color: #666;
        z-index: 1;
        &:before {
          content: "\f061";
        }
      }
      .cbp-popup-prev {
        left: 10%;
        right: initial;
        background: none;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 36px;
        color: #666;
        z-index: 1;
        &:before {
          content: "\f060";
        }
      }
    }
    .cbp-l-project-desc-text {
      color: #000;
      h1 {
        font-weight: 600;
      }
      p {
        font-size: 18px;
        font-weight: 600;
      }
      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }
    .social {
      a {
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }
    .social {
      margin-top: 200px;
      .icons {
        margin-bottom: 20px;
        a {
          display: inline-block;
          margin-right: 10px;
          i {
            font-size: 30px;
          }
        }
      }
      .homelink {
        display: inline-block;
        color: #07510a;
        font-weight: 600;
        font-size: 14px;
        &:hover {
          color: #07510a;
        }
      }
    }
  }
  .logo {
    @include logo;
  }
}

.cbp:after, .cbp-lazyload:after, .cbp-popup-loadingBox:after, .cbp-popup-singlePageInline:after {
  content: '';
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: cbp-rotation .8s infinite linear;
  animation: cbp-rotation .8s infinite linear;
  border-left: 3px solid rgba(114, 144, 182, 0.15);
  border-right: 3px solid rgba(114, 144, 182, 0.15);
  border-bottom: 3px solid rgba(114, 144, 182, 0.15);
  border-top: 3px solid rgba(#000000, 0.8);
  border-radius: 100%;
}